<% include ../partials/header %>
<div class = "container">
    <div class= "row">
        <div class= "col-md-3">
            <p class= "lead">YelpCamp</p>
            <div class= "list-group">
                <li class= "list-group-item active">Campsite 1</li>
                <li class= "list-group-item">Campsite 2</li>
                <li class= "list-group-item">Campsite 3</li>
                    <% if(currentUser){ %>
                
                <h4>You are logged in as <%= currentUser.username %></h4>
                
                <% } %>
            </div>
        </div>
        <div class= "col-md-9">
            <div class = "thumbnail">
                <img class= "img-responsive" src= "<%= campground.image %>">
                <div class= "caption-full">
                    <h4 class= "pull-right">£<%= campground.price %>/night</h4>
                    <a><h3><%= campground.name %></h3></a>
                        <p><%= campground.description %></p>
                        <p>Submitted By <em><%= campground.author.username%></em></p>
                    <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                    <a href= "/campgrounds/<%= campground._id %>/edit" class= "btn btn-info">Update Info</a>
                        <form class= "delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class= "btn btn-danger">Delete</button>
                        </form>
                    <% } %>    
                </div>
            </div>
            <div class= "well">
                <div class= "text-right">
                    <a class= "btn btn-primary" href = "/campgrounds/<%= campground._id %>/comments/new">Enter your review!</a>
                </div>
                    <hr>
                    <% campground.comments.forEach(function(comment){ %>
                        <div class= "row">
                            <div class = "col-md-12">
                                <strong><%= comment.author.username %></strong>
                                <span class= "pull-right">7 days ago</span> 
                                <p>
                                    <%= comment.text %>
                                </p>
                                <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                    <a class= "btn btn-xs btn-info" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a> 
                                    <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" class="delete-form">
                                        <button class= "btn btn-xs btn-danger">Delete</button>
                                    </form> 
                                <% } %>
                            </div>
                        </div>
                    <% }) %>
            </div>
        </div>
    </div>
</div>



<a href= "/campgrounds" class= "btn btn-success">Go Back</a>

<% include ../partials/footer %>